{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block head %}
<title>Блог</title>
{% endblock head %}

{% block content %}
<h1 align="center" class="display-4">Блог</h1>
<p align="right">
    {% if user.is_authenticated %}
    <p align="center">Привет, <a href="{% url 'profile' %}">{{ user.username }}</a><img src="{{ acc.photo.url }}" width="50", height="50">
    </p>
        <center>
            <a href="{% url 'new_post' %}" class="btn btn-primary">Добавить пост</a>
        </center>
        <ul>
            {% for p in posts %}
            <li>
                      <h2><a href="{% url 'show_post' p.slug%}">{{p.title}}</a></h2>
                      <p>{{p.text}}</p>
                      {{ p.author }} - {{ p.creation_time }}
                      <hr>
            </li>
            {% endfor %}
   </ul>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
    <a href="{% url 'registration' %}">Регистрация</a>
    </p>
    {% endif %}

{% endblock %}