<html>
<head>
    <meta charset="utf-8">
    <title>Блог</title>
</head>
<body>
<h1 align="center">Блог</h1>
<p align="right">
    {% if user.is_authenticated %}
    <button><a href="{% url 'logout' %}">Выйти</a></button>
    <p align="center">Привет, {{ user.username }}</p>
        <center>
            <button><a href="{% url 'new_post' %}">Добавить пост</a></button>
        </center>
        <ul>
            {% for p in posts %}
            <li>
                      <h2>{{p.title}}</h2>
                      <p>{{p.text}}</p>
                      {{ p.author }} - {{ p.creation_time }}
                      <hr>
            </li>
            {% endfor %}
   </ul>
    {% else %}
    <button><a href="{% url 'login' %}">Войти</a></button>
    <a href="{% url 'registration' %}">Регистрация</a></p>
    {% endif %}
</body>
</html>