{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block head %}
<title>Блог</title>
{% endblock head %}

{% block content %}
<h1 align="center" class="display-4">Блог</h1>
<p align="right">
    {% if user.is_authenticated %}
    <p align="center">Привет, <a href="{% url 'profile' acc.user.username %}">{{ user.username }}</a> <img src="{{ acc.photo.url }}" width="50", height="50">
    </p>
        <center>
            <a href="{% url 'new_post' %}" class="btn btn-primary">Добавить пост</a>
        </center>
        <ul>
            {% for p in posts %}
            <li>
                      <h2><a href="{% url 'show_post' p.slug %}">{{ p.title }}</a></h2>
                      <small>Категория: <a href="{% url 'posts_by_category' p.category.slug %}">{{ p.category|lower }}</a></small>
                      <p><font size="5">{{ p.text|truncatewords:50 }}</font>     <a href="{{ p.get_absolute_url }}">Читать пост</a></p>
                      <a href="{% url 'profile' p.author.user %}">{{ p.author.user }}</a> - {{ p.creation_time }}
                      <hr>
            </li>
            {% endfor %}
   </ul>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
    <a href="{% url 'registration' %}">Регистрация</a>
    </p>
    {% endif %}

{% endblock %}