{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block head %}
<title>Войти</title>
{% endblock head %}

{% block content %}
    <h2 align="center" class="display-4">Войти в блог</h2>
    <div class="container">
        <div class="row my-5">
            <div class="col-md-12">
                <form method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form auth_form %}
                    <button type="submit" class="btn btn-primary">Войти</button>
                    <a href="{% url 'registration' %}">Нет учётной записи? Зарегистрируйтесь!</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}