{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block head %}
<title>Добавить пост</title>
{% endblock head %}

{% block content %}
<h1 align="center" class="display-5">Добавить пост</h1>
    <div class="container">
        <div class="row my-5">
            <div class="col-md-12">
                <form method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form post_form %}
                    <button type="submit" class="btn btn-primary">Создать пост</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}