{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block head %}
<title>Статьи категории {{ category }}</title>
{% endblock head %}

{% block content %}
<h1 align="center" class="display-4">Статьи категории {{ category }}</h1>
        <ul>
            {{ posts.category }}
            {% for p in posts %}
            <li>
                      <h2><a href="{% url 'show_post' p.slug %}">{{ p.title }}</a></h2>
                      <small>Категория: <a href="{% url 'posts_by_category' p.category.slug %}">{{ p.category|lower }}</a></small>
                      <p><font size="5">{{p.text}}</font></p>
                      {{ p.author.user }} - {{ p.creation_time }}
                      <hr>
            </li>
            {% endfor %}
        </ul>

{% endblock %}