{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block head %}
<title>{{ title }}</title>
{% endblock head %}

{% block content %}
<h1 class="display-6" style="position: static; margin-left: 20px;">{{ title }}</h1>

<pre>
    Автор: <a href="{% url 'profile' author.user %}">{{ author.user }}</a>, {{ creation_time }}
    {% if time_difference > 1 %}
    Изменено: {{ update_time }}
    {% endif %}
    Категория: {{ category|lower }}
</pre>
        <p style="border-style: solid; border-width: thin; border-color: rgb(13,110,253); position: static; margin-left: 20px; margin-right: 20px;">{{ text }}</p>
        {% if request.user == author.user %}
            <button type="button" style="position: static; margin-left: 20px;" class="btn btn-link"><a href="{% url 'edit_post' slug%}">Изменить</a></button>
        {% endif %}
        <hr>
        <div style="position: static; margin-left: 20px; margin-right: 20px;">
        <h3>Добавить комментарий:</h3>

                <form method="post" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {{ comment_form }}
                    <br>
                    <button type="submit" style="position: static; margin-top: 10px;" class="btn btn-primary">Отправить</button>
                </form>
            <h3>Комментарии:</h3>
        <table>
            <tr>
                {% for comment in comments %}
                    <strong><i><a href="{% url 'profile' comment.author.user.username %}">{{ comment.author.user.username }}</a></i></strong>
                    <p>{{ comment.comment }}</p>
                    Отправлено: {{ comment.comment_time }}
                    <hr>
                {% endfor %}
            </tr>
        </table>
        </div>

{% endblock %}
