{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block head %}
<title>Профиль пользователя</title>
{% endblock head %}

{% block content %}
<h1 class="display-6" style="margin-left: 20px;">Профиль</h1>
<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <img src="{{ acc.photo.url }}" align="left" width="160" 
                height="130" style=" border: 8px solid #ffffff;"/>
                <p><strong>Имя пользователя:</strong> {{ username }}</p>
                <p><strong>Имя:</strong> {{ name }}</p>
                <p><strong>День рождения:</strong> {{ acc.birthday }}</p>
        </div>
    </div>
</div>
{% if request_username == username %}
<h1 class="display-6" style="margin-left: 20px;">Изменить данные профиля</h1>
    <div class="container">
        <div class="row my-5">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {% bootstrap_form profile_form_from_user %}
                    {% bootstrap_form profile_form %}
                    <button type="submit" class="btn btn-primary">Изменить</button>
                    <br>
                    <br>
                    <a href="{% url 'delete_profile' username=request.user %}" class="btn btn-danger">Удалить профиль</a>
                    <p style="color: red"><strong>Внимание! Это действие нельзя отменить!</strong></p>
                    </form>
                </div>
        </div>
    </div>
{% endif %}
{% endblock %}