<html>
    <head>
        <meta charset="utf-8">
        <title>Регистрация</title>
    </head>
    <body>
        <h2 align="center">Регистрация</h2>
        <center>
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <input type="submit" value="Загрегистрироваться">
                <br>
                <a href="{% url 'login' %}">Есть учётная запись? Войдите!</a>
            </form>
        </center>
    </body>
</html>